section.ant-layout {
    background: transparent !important;
}

/* tabs btns */
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
}

.ant-radio-button-wrapper:last-child {
    border-radius: 2px;
}

.ant-radio-button-wrapper:first-child {
    border-left: 1px solid #d6d6d6;
}

.ant-radio-button-wrapper-checked {
    border-radius: 2px;
    border: solid 1px #1797ff !important;
}

.ant-radio-button-wrapper-checked span {
    color: #1797ff !important;
}

/* input selector */
.ant-select-selector {
    border-radius: 4px !important;
    border: solid 1px #2e2e2e !important;
    height: 100% !important;
}

.ant-select-selector span,
.ant-select-selector span input {
    color: #343434 !important;
    font-size: var(--fontSize-medium);
    font-weight: 400 !important;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

span.anticon.anticon-down.ant-select-suffix {
    color: #2e2e2e;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #2e2e2e !important;
    font-weight: initial !important;
    background-color: #e6f7ff;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: solid 1px #2e2e2e !important;
    box-shadow: none !important;
    border-right-width: 1px;
    outline: 0;
}