:root {
    --headerHeight: 114px;
    --backgroundColor: #fcfcfc;

    --textColor-title: #3b3b3b;

    --fontSize-lg: 28px !important;
    --fontSize-xs: 26px !important;
    --fontSize-large: 16px !important;
    --fontSize-medium: 14px !important;
    --fontSize-small: 11px !important;
}